<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAUD ATTHOHIRIYYAH - Pendidikan Usia Dini</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">
                <img src="/img/Logopaud.png" alt="Logo PAUD">
                <span>PAUD ATTHOHIRIYYAH</span>
            </a>
            <ul class="nav-links">
                <li><a href="/">Beranda</a></li>
                <li><a href="#about">Tentang Kami</a></li>
                <li><a href="#gallery">Galeri</a></li>
                <li><a href="#info">Informasi</a></li>
                <li><a href="/login" class="btn-login">Login</a></li>
            </ul>
        </div>
    </nav>
